* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-position: center;
    background-size: cover;
}

.center {
    max-width: 50rem;
    height: 10vh;
    display: flex;
    align-items: end;
    justify-content: center;
    
}

.item-background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 3rem;
    max-width: 48.5rem;
    font-size: 1.5rem;
    border-radius: 0.30rem;
}

.done-task {
    text-decoration: line-through;
    font-style: italic;
    color: #FF0000;
}